.dropdown {
    display: block;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1;
}

.dropdown li {
    list-style-type: none;
    display: inline-block;
}

.dropdown a {
    display: block;
    padding: 9px 10px 6px 10px;
    color: white;
    text-decoration: none;
}

@media (min-width: 481px) {
    .dropdown {
        font-size: 2.6rem;
        justify-content: end;
    }
}

@media (min-width: 769px) {
    .dropdown {
        font-size: 3.5rem;
    }
}

@media (min-width: 1025px) {
    .dropdown {
        font-size: 2.5rem;
    }
}
