.about {
    text-align: center;
    padding-top: 30%;
}

.about-info {
    padding: 6%;
}

.about p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    padding-top: 3%;
}

.selfie {
    width: 70%;
    border-radius: 10px;
}

@media (min-width: 481px) {
    .about {
        padding-top: 20%;
    }

    .about h1 {
        font-size: 4.5rem;
    }

    .about p {
        font-size: 1.7rem;
        padding-top: 5%;
    }
}

@media (min-width: 769px) {
    .about {
        padding-top: 20%;
    }

    .about h1 {
        font-size: 5rem;
    }

    .about p {
        font-size: 2.3rem;
    }
}

@media (min-width: 1025px) {
    .about {
        display: flex;
        width: 80%;
        padding-top: 8%;
        align-items: center;
        margin: 0 auto;
    }

    .selfie {
        height: 70vh;
    }

    .about h1 {
        font-size: 3.8rem;
    }

    .about p {
        font-size: 1.3rem;
    }
}
