* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #161414;
    font-family: 'Bebas Neue';
    color: white;
}

#root {
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
}

.menu-ctn {
    width: 100%;
    position: absolute;
    top: 1%;
    align-items: center;
    display: flex;
    transform: translateX(85%);
    transition: transform 0.5s;
}

.menu-ctn.open {
    transform: translateX(0px);
}

.menu-icon {
    width: 60px;
}

.menu-icon:hover {
    cursor: pointer;
}

@media (min-width: 481px) {
    .menu-ctn {
        justify-content: end;
        transform: none;
        transition: none;
        padding: 1.5% 3%;
    }

    .menu-icon {
        display: none;
    }
}

@media (min-width: 1025px) {
    .menu-ctn {
        padding: 0 2.5%;
    }
}
